/* ==UserStyle==
@name           Lemon's GitHub Reminders
@description    Highlights open Issue and PRs for specified Users and Organisations
@namespace      github.com/unseen-ninja/userstyles
@version        2025.03.04
@author         unseen;ninja
@preprocessor   uso
@updateURL      https://github.com/unseen-ninja/userstyles/raw/main/github/reminder.user.css

@advanced color prColour "PR Colour" "#8819EC"
@advanced color issueColour "Issue Colour" "#EA33ED"
==/UserStyle== */

@-moz-document url-prefix("https://github.com/unseen-ninja"),
               url-prefix("https://github.com/catppuccin"),
               url-prefix("https://github.com/flexqmadness"),
               url-prefix("https://github.com/cascadefox") {

    #pull-requests-repo-tab-count,
    #issues-repo-tab-count {

        font-weight: bold;
        color: #EEEEF5 !important;

    }


    #pull-requests-repo-tab-count { background-color: /*[[prColour]]*/ !important; }
    #issues-repo-tab-count { background-color: /*[[issueColour]]*/ !important; }


    #pull-requests-repo-tab-count::before,
    #issues-repo-tab-count::before { content: 'Open (' }

    #pull-requests-repo-tab-count::after,
    #issues-repo-tab-count::after { content: ')' }

}
