/* ==UserStyle==
@name           Lemon's YouTube Fixes
@description    Opinionated YouTube Fixes
@namespace      github.com/unseen-ninja/userstyles
@version        2025.11.07.3
@author         unseen;ninja
@preprocessor   uso
@updateURL      https://github.com/unseen-ninja/userstyles/raw/main/youtube/youtube.user.css

@advanced text watched "watched video label" "seen"
==/UserStyle== */

@-moz-document domain("youtube.com") {

  /*  Header
   *  =======
   */

    /* fix Header Z-Index */
    #masthead-container { z-index: 9000; }

    /* Voice Search Button */
    #voice-search-button,
    /* Create Button */
    #end #buttons ytd-button-renderer:nth-child(1)
    {
        display: none;
    }

  /* End Header */



  /*  Sidebar
   *  =======
   */

    /* Shorts */
    #guide-renderer > #sections ytd-guide-entry-renderer:nth-child(2),
    ytd-mini-guide-renderer ytd-mini-guide-entry-renderer:nth-child(2),
    /* Music */
    #guide-renderer > #sections ytd-guide-entry-renderer:nth-child(4),
    ytd-mini-guide-renderer ytd-mini-guide-entry-renderer:nth-child(4),
    /* Your Videos */
    #guide-renderer #section-items ytd-guide-entry-renderer:nth-child(3),
    /* Liked Videos */
    #guide-renderer #section-items ytd-guide-entry-renderer:nth-child(5),
    /* Subscriptions */
    #guide-renderer ytd-guide-section-renderer:nth-child(2),
    /* Explore */
    #guide-renderer ytd-guide-section-renderer:nth-child(3),
    /* More fom Youtube */
    #guide-renderer ytd-guide-section-renderer:nth-child(4),
    /* Footer */
    #guide-renderer #footer,
    /* Downloads */
    ytd-guide-downloads-entry-renderer,
    ytd-mini-guide-entry-renderer[aria-label="Downloads"]
    {
        display: none;
  }

  /* End Sidebar */



  /*  Home Feed
   *  =========
   */

    /* Top Category Slider */
    ytd-feed-filter-chip-bar-renderer { display: none; }

  /* End Home Feed */



  /*  Global
   *  =========
   */

    /* Watched Text */
    #progress.ytd-thumbnail-overlay-resume-playback-renderer::before {
        content: '/*[[watched]]*/';
        position: absolute !important;
        bottom: 20px; left: 15px;
        padding: 10px 15px;
        border-radius: 6px;
        background: var(--yt-spec-static-brand-red);
        font-size: 120%;
        font-weight: bold;
        color: var(--yt-spec-static-brand-white);
        z-index: -1;
    }

}





@-moz-document url-prefix("https://www.youtube.com/watch") {

  /*  Header
   *  Hide the header unless the top area is hovered.
   *  This ensures that it doesn't overlay the Video.
   */

    @keyframes slideIn {
        0%   { transform: translateY(-100%); }
        100% { transform: translateY(0); }
    }

    ytd-app:has(#full-bleed-container #player-container) {

        --ytd-masthead-height: 0;
        --ytd-toolbar-height: 0;

        #masthead-container #masthead {
          opacity: 0;
        }

        #masthead-container:hover #masthead,
        #masthead-container:focus-within #masthead {
          opacity: 1;
          animation: slideIn 200ms forwards;
        }
    }



  /*  Video Player
   *  Make the large video player span the entire screen
   */

    ytd-watch-flexy #full-bleed-container:has(#player-container),
    ytd-watch-flexy #player-full-bleed-container.ytd-watch-flexy:has(#player-container) {
      height: 100vh !important; max-height: 100vh !important;
    }

  /* End Video Player */



    /*  Related Sidebar
   *  ===============
   */

   #related {
    yt-related-chip-cloud-renderer,
    ytd-reel-shelf-renderer
    {
      display: none;
    }
  }

  /* End Related Sidebar */



  /*  Video Metadata
   *  ==============
   */

    ytd-watch-metadata {
      /* Game and Chat references */
      #teaser-carousel,
      ytd-metadata-row-container-renderer,
      /* Download Button */
      #actions-inner ytd-download-button-renderer
      {
        display: none;
      }
    }

  /* End Video Metadata */

}
